/* MARGIN */

.m-a {
    margin: auto;
}

.nm {
    margin: 0rem !important;
}

.nm-t {
    margin-top: 0rem !important;
}

.nm-b {
    margin-bottom: 0rem !important;
}

.nm-l {
    margin-left: 0rem !important;
}

.nm-r {
    margin-right: 0rem !important;
}

.hm {
    margin: .5rem !important;
}

.hm-t {
    margin-top: .5rem !important;
}

.hm-b {
    margin-bottom: .5rem !important;
}

.hm-l {
    margin-left: .5rem !important;
}

.hm-r {
    margin-right: .5rem !important;
}

.m {
    margin: 1rem !important;
}

.m-t {
    margin-top: 1rem !important;
}

.m-b {
    margin-bottom: 1rem !important;
}

.m-l {
    margin-left: 1rem !important;
}

.m-r {
    margin-right: 1rem !important;
}

.dm {
    margin: 2rem !important;
}

.dm-t {
    margin-top: 2rem !important;
}

.dm-b {
    margin-bottom: 2rem !important;
}

.dm-l {
    margin-left: 2rem !important;
}

.dm-r {
    margin-right: 2rem !important;
}

/* PADDING */

.np {
    padding: 0rem !important;
}

.np-t {
    padding-top: 0rem !important;
}

.np-b {
    padding-bottom: 0rem !important;
}

.np-l {
    padding-left: 0rem !important;
}

.np-r {
    padding-right: 0rem !important;
}

.hp {
    padding: .5rem !important;
}

.hp-t {
    padding-top: .5rem !important;
}

.hp-b {
    padding-bottom: .5rem !important;
}

.hp-l {
    padding-left: .5rem !important;
}

.hp-r {
    padding-right: .5rem !important;
}

.p {
    padding: 1rem !important;
}

.p-t {
    padding-top: 1rem !important;
}

.p-b {
    padding-bottom: 1rem !important;
}

.p-l {
    padding-left: 1rem !important;
}

.p-r {
    padding-right: 1rem !important;
}

.dp {
    padding: 2rem !important;
}

.dp-t {
    padding-top: 2rem !important;
}

.dp-b {
    padding-bottom: 2rem !important;
}

.dp-l {
    padding-left: 2rem !important;
}

.dp-r {
    padding-right: 2rem !important;
}

/* TEXT */

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

.ta-c {
    text-align: justify;
}

.tt-maj {
    text-transform: uppercase;
}

.t-n{
    font-weight: normal;
}

.t-b{
    font-weight: bold;
}

.t-1{
    font-size: 1rem !important;
}

.t-2{
    font-size: 1.25rem !important;
}

.t-3{
    font-size: 1.5rem !important;
}

.t-4{
    font-size: 1.75rem !important;
}

.t-5{
    font-size: 2rem !important;
}

/* ANIMATIONS */

a {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.c{
    cursor: pointer !important;
}

.-b{
    display: block;
}