@import url('bulma.css');
@import url('delta.css');
@import url('fontawesome.min.css');
@import url('balloon.min.css');


@font-face {
	font-family: 'minecraftfont';
	src: url('./minecraftfont.eot');
	src: local('minecraftfont'), url('./minecraftfont.woff') format('woff'), url('./minecraftfont.ttf') format('truetype');
}

::selection {
    background-image: linear-gradient(to right, #81D4FA 0%, #E1F5FE 100%);
    background-color: #81D4FA;
    color: #0A0D16;
}

html {
	font-family: 'minecraftfont' !important;
    font-size: 12px;
    background-color: #262833;
}

body {
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.2rem;
    font-weight: 200;

    color: #F4F4F4 !important;
}

.logo {
    max-height: 100px;
}

.hero.is-banner {
    background-image: url(../assets/newbg.png);
    background-repeat: no-repeat;
    background-position: center;
}

strong{
    color: #F4F4F4;
}

.title,
.subtitle{
    text-shadow: #050607 2px 2px;
	font-family: 'minecraftfont' !important;
    color: #F4F4F4 !important;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,225px);
    justify-content: space-between;
    grid-gap: 5px;
}

.event{ 
    background-color: #313342;
    padding: 5px 10px 5px 10px;
    border-radius: 2.5px;
}

.player{
    line-height: 16px;
    background-color: #313342;
    padding: 5px 10px 5px 10px;
    border-radius: 2.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origin{
    background-color: #313342;
    padding: 5px 10px 5px 10px;
    border-radius: 2.5px;
    margin-bottom: 10px;
}

.origin span{
    display: flex;
    align-items: center;
}

.origin .title{
    margin-left: 10px;
}

hr{
    margin-bottom: 50px;
    background-color: #313342;
}

li.bad{
    color: hsl(348, 100%, 61%);
}

li.good{
    color: hsl(171, 100%, 41%);
}