@import url('bulma.css');
@import url('delta.css');
@import url('fontawesome.min.css');
@import url('balloon.min.css');


@font-face {
	font-family: 'minecraftfont';
	src: url('./minecraftfont.eot');
	src: local('minecraftfont'), url('./minecraftfont.woff') format('woff'), url('./minecraftfont.ttf') format('truetype');
}

::selection {
    background-image: linear-gradient(to right, #81D4FA 0%, #E1F5FE 100%);
    background-color: #81D4FA;
    color: #0A0D16;
}

html {
	font-family: 'minecraftfont' !important;
    font-size: 12px;
    background-color: #262833;
}

p{
    font-size: 13px;
}

body {
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 0.2rem;
    font-weight: 200;

    color: #F4F4F4 !important;
}

.logo {
    max-height: 100px;
}

.hero.is-banner {
    background-image: url(../assets/newbg.png);
    background-repeat: no-repeat;
    background-position: center;
}

strong{
    color: #F4F4F4;
}

.title,
.subtitle{
    text-shadow: #050607 2px 2px;
	font-family: 'minecraftfont' !important;
    color: #F4F4F4 !important;
}

.block{
    background-color: #313342;
    padding: 5px 10px 5px 10px;
    border-radius: 2.5px;
    margin-bottom: 10px;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.player span{
    display: flex;
}

.origin, .class{
    height: 32px;
    width: 32px;
}

.origin.enderian{
    background-image: url(../assets/icons/ender_pearl.png);
}

.origin.elytrian{
    background-image: url(../assets/icons/elytra.png);
}

.origin.arachnid{
    background-image: url(../assets/icons/spider_eye.png);
}

.origin.merling{
    background-image: url(../assets/icons/cod.png);
}

.origin.blazeborn{
    background-image: url(../assets/icons/blaze_powder.png);
}

.origin.shulk{
    background-image: url(../assets/icons/shulker_shell.png);
}

.origin.phantom{
    background-image: url(../assets/icons/phantom_membrane.png);
}

.origin.avian{
    background-image: url(../assets/icons/feather.png);
}

.origin.feline{
    background-image: url(../assets/icons/string.png);
}

.origin.fox{
    background-image: url(../assets/icons/sweet_berries.png);
}

.origin.strider{
    background-image: url(../assets/icons/warped_fungus_on_a_stick.png);
}

.origin.ghast{
    background-image: url(../assets/icons/ghast_tear.png);
}

.origin.wolf{
    background-image: url(../assets/icons/bone.png);
}

.origin.piglin{
    background-image: url(../assets/icons/gold_ingot.png);
}

.origin.apian{
    background-image: url(../assets/icons/honeycomb.png);
}

.class.farmer{
    background-image: url(../assets/icons/wheat.png);
}

.class.rancher{
    background-image: url(../assets/icons/lead.png);
}

.class.miner{
    background-image: url(../assets/icons/iron_pickaxe.png);
}

.class.lumberjack{
    background-image: url(../assets/icons/iron_axe.png);
}

.class.cook{
    background-image: url(../assets/icons/suspicious_stew.png);
}

.class.blacksmith{
    background-image: url(../assets/icons/iron_ingot.png);
}

.class.cleric{
    background-image: url(../assets/icons/experience_bottle.png);
}

.class.merchant{
    background-image: url(../assets/icons/emerald.png);
}

.class.explorer{
    background-image: url(../assets/icons/compass_02.png);
}

.class.warrior{
    background-image: url(../assets/icons/iron_sword.png);
}

.class.fisherman{
    background-image: url(../assets/icons/fishing_rod.png);
}

.class.archer{
    background-image: url(../assets/icons/bow_pulling_1.png);
}

.class.rogue{
    background-image: url(../assets/icons/leather.png);
}

.class.beastmaster{
    background-image: url(../assets/icons/bone.png);
}

hr{
    background-color: #313342;
}

li.bad{
    color: hsl(348, 100%, 61%);
}

li.good{
    color: hsl(171, 100%, 41%);
}

.dynmap{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 2.5px;
    margin-bottom: 10px;
    background-color: hsl(171, 100%, 41%);
}

.dynmap:hover{
    opacity: .7;
    color: white;
}