<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site du OtterSMP">
    <meta name="author" content="Exylo Maxime Galliot">
    <title>Otter SMP</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#187bcd">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
</head>

<body>
    <section class="hero is-medium is-banner">
        <div class="hero-body has-text-centered">
            <img src="assets/logo.svg" class="logo">
            <p class="title tt-low t-n">otter smp</p>
        </div>
    </section>
    <section class="section" id="view">
        <div class="container dm-b">
            <p class="title t-n is-5 c" @click="players = !players"><span v-if="players">-</span><span v-else>+</span> Liste des joueurs</p>
            <div class="columns is-multiline">
                <div class="column is-half-tablet is-one-quarter-desktop" v-for="player of users">
                    <div class="block">
                        <div class="player">
                        <p class="title t-n is-6 nm">{{player.name}}</p>
                        </div>
                        <span v-if="player.logged">
                            <p>Temps de jeu : {{tick(player.data.stats.minecraft_custom.minecraft_play_time)}}</p>
                            <p>Nombre de morts : {{player.data.stats.minecraft_custom.minecraft_deaths}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
<script type="text/javascript" src="js/index.js"></script></html>
