<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site du OtterSMP">
    <meta name="author" content="Exylo Maxime Galliot">
    <title>Otter SMP</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#187bcd">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">
</head>

<body>
    <section class="hero is-medium is-banner">
        <div class="hero-body has-text-centered">
            <img src="assets/logo.svg" class="logo">
            <p class="title tt-low t-n">otter smp</p>
        </div>
    </section>
    <section class="section" id="view">
        <div class="container dm-b">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-8">
                    <div class="block">
                        <p class="title t-n is-5">Prochain evenement</p>
                        <p>Lancement du serveur mercredi 22 septembre à <strong>21h</strong>!   </p>
                    </div>
                </div>
                <div class="column is-4 flex-grow">
                    <a class="-b dynmap" href="http://otterserv.eu:8123/" target="_blank">Dynmap</a>
                </div>
            </div>
            <hr>
            <p class="title t-n is-5 c" @click="players = !players"><span v-if="players">-</span><span v-else>+</span> Liste des joueurs</p>
            <div class="columns is-multiline">
                <div class="column is-half-tablet is-one-quarter-desktop" v-for="player of users" v-if="players">
                    <div class="block">
                        <div class="player">
                        <p class="title t-n is-6 nm">{{player.name}}</p>
                        <span>
                            <div class="origin" v-bind:class="player.origin">
                            </div>
                            <div class="class" v-bind:class="player.class">
                            </div>
                        </span>
                        </div>
                        <span v-if="player.logged">
                            <p>Temps de jeu : {{player.data.stats.minecraft_custom.minecraft_play_time}}</p>
                            <p>Nombre de morts : {{player.data.stats.minecraft_custom.minecraft_deaths}}</p>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <p class="title t-n is-5 c" @click="origins = !origins"><span v-if="origins">-</span><span v-else>+</span> Liste des origines</p>
            <div v-if="origins">
                <div class="block">
                    <span>
                        <img src="assets/icons/ender_pearl.png">
                        <p class="title t-n is-6">Enderian</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (avec cooldown) :</strong> envoie une enderpearl gratuite qui ne fait pas de dégat</li>
                        <li class="good">[+] Tape plus loin que la normale</li>
                        <li class="bad">[-] Prend des dégâts au contact de l'eau</li>
                        <li class="bad">[-] Ne voit pas les joueurs qui portent des citrouilles sur la tête</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/elytra.png">
                        <p class="title t-n is-6">Elytrian</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (avec cooldown) :</strong> peut se propulser dans les airs</li>
                        <li class="good">[+] Possède des Elytras par défaut</li>
                        <li class="good">[+] Inflige deux fois plus de dégâts lors d’un vol en elytra</li>
                        <li class="bad">[-] Prends deux fois plus de dégats de chute</li>
                        <li class="bad">[-] Ne peut porter que des armures légères</li>
                        <li class="bad">[-] N'aime pas être enfermé dans des pièces a faible hauteur sous plafond trop longtemps</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/spider_eye.png">
                        <p class="title t-n is-6">Arachnid</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> peut monter aux parois</li>
                        <li class="good">[+] Faire des dégats à un mob ou un joueur pose une cobweb à ses pieds</li>
                        <li>[=] Ne mange pas de légume</li>
                        <li class="bad">[-] Possède 7 coeurs</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/cod.png">
                        <p class="title t-n is-6">Merling</p>
                    </span>
                    <ul>
                        <li class="good">[+] Respire sous l'eau</li>
                        <li class="good">[+] Voit sous l'eau</li>
                        <li class="good">[+] Casse les blocs facilement sous l'eau</li>
                        <li class="good">[+] Nage rapidement sous l'eau</li>
                        <li class="good">[+] Ne coule pas sous l'eau</li>
                        <li class="bad">[-] Ne respire pas hors de l’eau sans aide d’enchantements ou sans boire des bouteilles d’eau</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/blaze_powder.png">
                        <p class="title t-n is-6">Blazeborn</p>
                    </span>
                    <ul>
                        <li class="bad">[-] Spawn dans le Nether</li>
                        <li class="good">[+] Immunisé aux dégats de feu</li>
                        <li class="good">[+] Immunisé au poison et au débuff hunger</li>
                        <li class="good">[+] Fait plus de dégats quand enflamé</li>
                        <li class="bad">[-] Prend des dégâts au contact de l'eau</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/shulker_shell.png">
                        <p class="title t-n is-6">Shulk</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> possède un inventaire bonus qui ne drop pas à la mort</li>
                        <li class="good">[+] Possède de l'armure par défaut</li>
                        <li class="good">[+] Peut casser de la stone sans pioche</li>
                        <li class="bad">[-] N'aime pas être exposé au soleil</li>
                        <li class="bad">[-] Ne peut pas utiliser de bouclier</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/phantom_membrane.png">
                        <p class="title t-n is-6">Phantom</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> peut devenir invisible et traverser les blocs</li>
                        <li class="bad">[-] Possède 7 coeurs</li>
                        <li class="bad">[-] Brûle au contact du soleil quand il n'est pas invisible</li>
                        <li class="bad">[-] Doit manger plus que la normale</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/feather.png">
                        <p class="title t-n is-6">Avian</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> est très rapide</li>
                        <li class="good">[+] Tombe lentement</li>
                        <li>[=] Ne peut pas manger de viande</li>
                        <li class="bad">[-] Ne peut dormir qu'en hauteur</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/string.png">
                        <p class="title t-n is-6">Feline</p>
                    </span>
                    <ul>
                        <li class="good">[+] Saute haut en courant</li>
                        <li class="good">[+] Voit mieux la nuit</li>
                        <li class="good">[+] Ne prend pas de dégat de chute</li>
                        <li class="good">[+] Fait peur aux Creepers</li>
                        <li class="bad">[-] Possède 9 coeurs</li>
                        <li class="bad">[-] Ne peut pas miner si le bloc de pierre est au contact de deux autres blocs de pierre (Minerais compris)</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/sweet_berries.png">
                        <p class="title t-n is-6">Fox</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> peut se propulser dans les airs</li>
                        <li class="good">[+] <strong>Active (on/off) :</strong> possède un inventaire bonus qui ne drop pas à la mort</li>
                        <li class="good">[+] Les berry bush ne font pas de dégat</li>
                        <li class="good">[+] Les berries donnent plus de nourriture que la normale</li>
                        <li class="good">[+] Est légèrement plus rapide</li>
                        <li class="good">[+] Ne prend pas de dégat de chute</li>
                        <li>[=] Est très petit</li>
                        <li class="bad">[-] Possède 5 coeurs</li>
                        <li class="bad">[-] Ne peut dormir qu'en profondeur</li>
                        <li class="bad">[-] Ne peut pas utiliser de bouclier</li>
                        <li class="bad">[-] Ne peut pas utiliser de casque</li>
                        <li class="bad">[-] Doit manger plus que la normale</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/warped_fungus_on_a_stick.png">
                        <p class="title t-n is-6">Strider</p>
                    </span>
                    <ul>
                        <li class="bad">[-] Spawn dans le Nether</li>
                        <li class="good">[+] Immunisé aux dégats de feu</li>
                        <li class="good">[+] Peut marcher sur la lave</li>
                        <li>[=] Ne peut pas manger de viande</li>
                        <li class="bad">[-] Doit manger plus que la normale</li>
                        <li class="bad">[-] Est ralenti quand il n'est pas en feu</li>
                        <li class="bad">[-] Prend des dégâts au contact de l'eau</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/ghast_tear.png">
                        <p class="title t-n is-6">Ghast</p>
                    </span>
                    <ul>
                        <li class="bad">[-] Spawn dans le Nether</li>
                        <li class="good">[+] Peut voler</li>
                        <li class="good">[+] Tombe lentement</li>
                        <li class="good">[+] Immunisé aux dégats de feu</li>
                        <li class="good">[+] Immunisé au poison et au débuff hunger</li>
                        <li>[=] Est plus grand que la normale</li>
                        <li class="bad">[-] Possède 5 coeurs</li>
                        <li class="bad">[-] Ne peut pas utiliser de bouclier</li>
                        <li class="bad">[-] Doit manger plus que la normale</li>
                        <li class="bad">[-] Ne peut pas dormir</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/bone.png">
                        <p class="title t-n is-6">Wolf</p>
                    </span>
                    <ul>
                        <li class="good">[+] Est légèrement plus rapide</li>
                        <li class="good">[+] Voit mieux la nuit</li>
                        <li class="good">[+] Fait plus de dégats la nuit</li>
                        <li class="good">[+] Possède de l'armure par défaut</li>
                        <li>[=] Est plus petit que la normale</li>
                        <li>[=] Ne peut pas manger de légume</li>
                        <li class="bad">[-] Ne peut pas utiliser de bouclier</li>
                        <li class="bad">[-] Ne peut pas utiliser de casque</li>
                        <li class="bad">[-] Doit manger plus que la normale</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/gold_ingot.png">
                        <p class="title t-n is-6">Piglim Rogue</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> possède un inventaire bonus qui ne drop pas à la mort</li>
                        <li class="bad">[-] Spawn dans le Nether</li>
                        <li class="good">[+] Démarre avec un équipement de départ</li>
                        <li class="good">[+] Fait plus de dégats avec des spectral arrows</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/honeycomb.png">
                        <p class="title t-n is-6">Apian</p>
                    </span>
                    <ul>
                        <li class="good">[+] <strong>Active (on/off) :</strong> Flotte lentement dans les air</li>
                        <li class="good">[+] Infliger des dégats au poing empoisonne pendant un très court instant</li>
                        <li class="bad">[-] Possède 5 coeurs</li>
                        <li class="bad">[-] Prend des dégâts au contact de l'eau</li>
                        <li class="bad">[-] N'aime pas être exposé à la nuit</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="title t-n is-5 c" @click="classes = !classes"><span v-if="classes">-</span><span v-else>+</span> Liste des classes</p>
            <div v-if="classes">
                <div class="block">
                    <span>
                        <img src="assets/icons/wheat.png">
                        <p class="title t-n is-6">Farmer</p>
                    </span>
                    <ul>
                        <li>[+] A une chance de doubler ses récoltes agricoles</li>
                        <li>[+] La bone meal est deux fois efficace</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/lead.png">
                        <p class="title t-n is-6">Rancher</p>
                    </span>
                    <ul>
                        <li>[+] A une chance de doubler le nombre de naissance quand il reproduis des animaux</li>
                        <li>[+] Reçoit plus d'items en tuant des animaux</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/iron_pickaxe.png">
                        <p class="title t-n is-6">Miner</p>
                    </span>
                    <ul>
                        <li>[+] Mine des matériaux plus vite que la moyenne</li>
                        <li>[+] Ne se fatigue pas en minant</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/iron_axe.png">
                        <p class="title t-n is-6">Lumberjack</p>
                    </span>
                    <ul>
                        <li>[+] Casse les petits arbres d'un coup</li>
                        <li>[+] A une chance de doubler les planches de bois craftées à partir d'une bûche</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/suspicious_stew.png">
                        <p class="title t-n is-6">Cook</p>
                    </span>
                    <ul>
                        <li>[+] Crafte de la nourriture plus efficace</li>
                        <li>[+] Obtient plus d'expèrience en cuisant de la nourriture dans un smoker</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/iron_ingot.png">
                        <p class="title t-n is-6">Blacksmith</p>
                    </span>
                    <ul>
                        <li>[+] Crafter des équipements leur donne un petit bonus</li>
                        <li>[+] Réparer un équipement coute moins de matériaux</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/experience_bottle.png">
                        <p class="title t-n is-6">Cleric</p>
                    </span>
                    <ul>
                        <li>[+] Ajouter une bouteille d'eau à la fin de la création des potions permet de doubler leur durée</li>
                        <li>[+] Obtient de meilleurs enchantements</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/emerald.png">
                        <p class="title t-n is-6">Merchant</p>
                    </span>
                    <ul>
                        <li>[+] Les villageois ne sont jamais a court de stock lors d'un échange</li>
                        <li>[+] Les Wandering Traders offrent plus d'items rares</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/compass_02.png">
                        <p class="title t-n is-6">Explorer</p>
                    </span>
                    <ul>
                        <li>[+] Débute la partie avec une boussole, une montre et 9 empty maps</li>
                        <li>[+] Ne s'épuise pas en courant</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/iron_sword.png">
                        <p class="title t-n is-6">Warrior</p>
                    </span>
                    <ul>
                        <li>[+] Fait plus de dégats avec les armes</li>
                        <li>[+] Est moins lent en utilisant un shield</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/fishing_rod.png">
                        <p class="title t-n is-6">Fisherman</p>
                    </span>
                    <ul>
                        <li>[+] Débute la partie avec une canne a pêche mending</li>
                        <li>[+] Est plus chanceux lors de la pêche</li>
                        <li>[+] Pêche deux poissons au lieux d'un</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/bow_pulling_1.png">
                        <p class="title t-n is-6">Archer</p>
                    </span>
                    <ul>
                        <li>[+] Tous les projectiles sont plus précis</li>
                        <li>[+] Est moins lent en utilisant un arc</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/leather.png">
                        <p class="title t-n is-6">Rogue</p>
                    </span>
                    <ul>
                        <li>[+] Le pseudo ne s'affiche pas au travers des murs</li>
                        <li>[+] Après s'être accroupi pendant 10s, fait moins de bruit et fait plus de dégats en attaquant par derrière</li>
                    </ul>
                </div>
                <div class="block">
                    <span>
                        <img src="assets/icons/bone.png">
                        <p class="title t-n is-6">Beastmaster</p>
                    </span>
                    <ul>
                        <li>[+] Les animaux adoptés ont un bonus de vie et d'attaque</li>
                        <li>[+] Les animaux adoptés proches obtiennent les effets des potions bues</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-axios@2.1.4/dist/vue-axios.min.js"></script>
<script type="text/javascript" src="js/index.js"></script></html>
